services:
  # Сервіс бази даних
  db:
    image: postgres:15
    container_name: traveler-db
    restart: always
    environment:
      POSTGRES_DB: traveler_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d traveler_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  # Сервіс твого Spring Boot додатка
  app:
    build: .
    container_name: traveler-api
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/traveler_db
      - SPRING_DATASOURCE_USERNAME=user
      - SPRING_DATASOURCE_PASSWORD=password
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_JACKSON_PROPERTY_NAMING_STRATEGY=SNAKE_CASE