services:
  db-template: &db-template
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=db_master
    volumes:
      - ./db/init-shards.sh:/docker-entrypoint-initdb.d/init-shards.sh:ro
      - ./db/migrations:/docker-entrypoint-migrations:ro
    command:
      - "postgres"
      - "-c"
      - "max_connections=200"

  postgres_00:
    <<: *db-template
    container_name: postgres_00
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=db_master
      - POSTGRES_MULTIPLE_DATABASES=db_0,db_1,db_2,db_3
    ports:
      - "5436:5432"
    volumes:
      - pg_data_00:/var/lib/postgresql/data
      - ./db/init-shards.sh:/docker-entrypoint-initdb.d/init-shards.sh:ro

  postgres_01:
    <<: *db-template
    container_name: postgres_01
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=db_master
      - POSTGRES_MULTIPLE_DATABASES=db_4,db_5,db_6,db_7
    ports:
      - "5433:5432"
    volumes:
      - pg_data_01:/var/lib/postgresql/data
      - ./db/init-shards.sh:/docker-entrypoint-initdb.d/init-shards.sh:ro

  postgres_02:
    <<: *db-template
    container_name: postgres_02
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=db_master
      - POSTGRES_MULTIPLE_DATABASES=db_8,db_9,db_a,db_b
    ports:
      - "5434:5432"
    volumes:
      - pg_data_02:/var/lib/postgresql/data
      - ./db/init-shards.sh:/docker-entrypoint-initdb.d/init-shards.sh:ro

  postgres_03:
    <<: *db-template
    container_name: postgres_03
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=db_master
      - POSTGRES_MULTIPLE_DATABASES=db_c,db_d,db_e,db_f
    ports:
      - "5435:5432"
    volumes:
      - pg_data_03:/var/lib/postgresql/data
      - ./db/init-shards.sh:/docker-entrypoint-initdb.d/init-shards.sh:ro

  app:
    build: .
    container_name: traveler-api
    ports:
      - "8080:8080"
    restart: on-failure
    depends_on:
      postgres_00: { condition: service_started }
      postgres_01: { condition: service_started }
      postgres_02: { condition: service_started }
      postgres_03: { condition: service_started }
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres_00:5432/db_master
      - SPRING_DATASOURCE_USERNAME=user
      - SPRING_DATASOURCE_PASSWORD=password
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect
      - MAPPING_FILE=/app/mapping.json
      - SPRING_JACKSON_PROPERTY_NAMING_STRATEGY=SNAKE_CASE
    volumes:
      - ./mapping.json:/app/mapping.json:ro

volumes:
  pg_data_00:
  pg_data_01:
  pg_data_02:
  pg_data_03: